<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Tesis</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="connection.pool_size">1</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
    <mapping resource="entidades/Educacion.hbm.xml"/>
    <mapping resource="entidades/Correo.hbm.xml"/>
    <mapping resource="entidades/Capacitacion.hbm.xml"/>
    <mapping resource="entidades/Reconocimiento.hbm.xml"/>
    <mapping resource="entidades/Objetivo.hbm.xml"/>
    <mapping resource="entidades/Empleado.hbm.xml"/>
    <mapping resource="entidades/Planilla.hbm.xml"/>
    <mapping resource="entidades/Departamento.hbm.xml"/>
    <mapping resource="entidades/TipoContrato.hbm.xml"/>
    <mapping resource="entidades/Evaluacion.hbm.xml"/>
    <mapping resource="entidades/Permiso.hbm.xml"/>
    <mapping resource="entidades/TipoBono.hbm.xml"/>
    <mapping resource="entidades/Vacacion.hbm.xml"/>
    <mapping resource="entidades/Criterio.hbm.xml"/>
    <mapping resource="entidades/PuestoHistorico.hbm.xml"/>
    <mapping resource="entidades/Descuento.hbm.xml"/>
    <mapping resource="entidades/Contrato.hbm.xml"/>
    <mapping resource="entidades/Sancion.hbm.xml"/>
    <mapping resource="entidades/Bono.hbm.xml"/>
    <mapping resource="entidades/Transaccion.hbm.xml"/>
    <mapping resource="entidades/Telefono.hbm.xml"/>
    <mapping resource="entidades/ExpLaboral.hbm.xml"/>
    <mapping resource="entidades/Objdepartamento.hbm.xml"/>
    <mapping resource="entidades/TipoDescuento.hbm.xml"/>
    <mapping resource="entidades/TipoPermiso.hbm.xml"/>
    <mapping resource="entidades/PuestoTrabajo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
